# Task 1

In [4]:
x = 0
y = 1
print(x) # output the initial value of x: 0
print(y) # output the initial value of y: 1
x += 3 # increment x by 3: 0 + 3 = 3
y += x # increment y by the current value of x: 1 + 3 = 4
print(x)
print(y)

0
1
3
4

# Task 2

In [7]:
x = 1 + 1 * 2 # this will be executed from the right to the left

y = (1 + 1) * 2 # first simplify what is inside the brackets to give 2, then multiply by 2 to give 4

z = 1 + ( 1 * 2 ) # simplify the brackets to give 2 then add 1 to give 3

a =  1 + 1 * 2 / 2 # execute from right to left, the final results will be a float, 2.0, because of the / sign

b =  (1 + 1 * 2 ) / 2 # first deal with the brackets, inside the brackets multiplication will be performed before the addition, and then divide by 2. End results will be a float, 1.5, because of /

print(x)
print(y)
print(z)
print(a)
print(b)

3
4
3
2.0
1.5

# Task 3

Write a function that takes 2 numbers as input. If either of the numbers is 65, OR if the sum of the numbers is 65 then return true. Otherwise return false.

In [273]:
def contains_65(x, y):
    if (x == 65 or y == 65) or (x + y == 65):
        return True
    else:
        return False

# take numbers from the user
x = int(input("Enter the first number: ")) 
y = int(input("Enter the second number: "))

contains_65(x, y) # call the function

Enter the first number: 65
Enter the second number: 8

True

# Task 4

Write a function that takes 2 numbers as input. If either of the numbers is 3 AND the sum of the numbers contains a 3 then return true. Otherwise return false

In [272]:
def contains_3(a, b):
    if (a == 3 or b ==3) and ("3" in str(a + b)):
        return True
    else:
        return False

# take numbers from the user
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

contains_3(a, b)

Enter the first number: 67
Enter the second number: 3

False

# Task 5

Write a function that takes in three numbers. These numbers represent the lengths of the sides of a triangle. The function should return the area of a triangle.

In [270]:
def triangle_area(a, b, c): # a, b and c are the sides of a triangle
    s = 0.5*(a + b + c) # first calculate the semi perimeter using this formula
    area = (s*(s-a)*(s-b)*(s-c))**0.5 
    return area

In [271]:
triangle_area(3,4,5) # function call

6.0

# Task 6

White a function that takes in three numbers and returns the maximum number. Do this without using any builtin methods. Write your own logic from scratch.

Bonus: How can you change the code so it can take in any number of numbers?

In [215]:
def maximum_num(x, y, z):
    if x >= y and x >= z:
        return x
    elif y >= x and y >= z:
        return y
    else:
        return z

print("Maximum number is:", maximum_num(3,4,5))

Maximum number is: 5

In [278]:
# answering the bonus question
def maximum_num_modified(*k): # *k will allow the function to take any number of numbers
    Max = 0
    for i in k:
        if i > Max:
            Max = i
    return Max

print("Maximum is:", maximum_num_modified(5,10,3,4,9,6,7,2,1,8,10))

Maximum is: 10

# Task 7

Write a function that takes in a number representing the temperature in Celsius and returns the temperature in Fahrenheit. Write another function that does the opposite (Fereignheit to Celsius)

In [218]:
def celcius_to_fahrenheit(c):
    temperature_in_fahrenheit = c * 1.8 + 32
    return temperature_in_fahrenheit

c = 25 # Temperature in Celcius
print("Temperature in Fahrenheit is:", celcius_to_fahrenheit(c))

Temperature in Fahrenheit is: 77.0

In [220]:
def fahrenheit_to_celcius(f):
    temperature_in_celcius = (f - 32)/ 1.8
    return temperature_in_celcius

f = 77 # Temperature in Fahrenheit
print("Temperature in Celcius is:", fahrenheit_to_celcius(f))

Temperature in Celcius is: 25.0

# Task 8

Make a function to convert any number into hours and minutes. (For example, 71 will become “1 hour, 11 minutes”; 133 will become “2 hours, 13 minutes”.)

In [264]:
def time(number):
    hours = number//60
    minutes = number % 60
    if hours == 1 and minutes == 1:
        time_in_hours_minutes = str(hours) + " hour" + ", " + str(minutes) + " minute"
    elif hours == 1 and minutes > 1:
        time_in_hours_minutes = str(hours) + " hour" + ", " + str(minutes) + " minutes"
    elif hours > 1 and minutes == 1:
        time_in_hours_minutes = str(hours) + " hours" + ", " + str(minutes) + " minute" 
    else:
        time_in_hours_minutes = str(hours) + " hours" + ", " + str(minutes) + " minutes"
    return time_in_hours_minutes

In [266]:
time(301)

'5 hours, 1 minute'

In [267]:
time(71)

'1 hour, 11 minutes'

In [268]:
time(133)

'2 hours, 13 minutes'

In [269]:
time(61)

'1 hour, 1 minute'

# Task 9

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [158]:
natural_numbers = range(1, 1000)
Sum = 0
for i in natural_numbers:
    if i % 3 == 0 or i % 5 == 0:
        Sum += i
print("Sum of the multiples is: ", Sum)

Sum of the multiples is:  233168

# Task 10

Write a function that takes in a string and then prints out all the vowels in the string. Make sure it can deal with capital letters and small letters.

In [165]:
def vowels(string):
    vowels ='aeiouAEIOU'
    for i in string:
        if i in vowels:
            print(i)

In [166]:
vowels("Alungile")

A
u
i
e

# Task 11

Make a function that takes two strings as input, and outputs the common characters/letters that they share. (For example, Input: ‘house’, ‘computers’ . Output: ‘Common letters: o, u, e, s’)

In [253]:
def common_letters(str1, str2):
    common_characters = ""
    for each_char in str2:
        if each_char in str1:
            common_characters += each_char
    return ",".join(common_characters)

str1 = input("Enter the first string: ")
str2 = input("Enter the second string: ")

print("Common letters: ", common_letters(str1, str2))

Enter the first string: house
Enter the second string: computers
Common letters:  o,u,e,s